<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container">
    <header>
        <nav>
  <ul>
    <li><strong>Calculator Trip Blog</strong></li>
  </ul>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
  </ul>
</nav>
    </header>
<h1>{{tool.H1}}</h1>
<p>{{tool.Intorduction}}</p>
<h2>{{tool.H2 }}</h2>
<p>{{tool.Introduction}}</p>
</main>
</body>
</html>
